<!DOCTYPE html>
<head>
    <link rel="icon" href="/img/icon.png" type="img/png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait-img" src="/img/felix.png" alt="felix">
    </div>
    {{>footer}}
</body>
</html>